{
  "presets": [
    [
      "next/babel",
      {
        "runtime": "automatic"
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "babel-plugin-twin",
    "babel-plugin-macros",
    ["babel-plugin-styled-components", { "ssr": true }]
  ]
}
