{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": 2020, // Allows for the parsing of modern JS
    "ecmaFeatures": {
      "jsx": true // Allows for the parsing of JSX
    }
  },
  "extends": [
    "airbnb-typescript",
    "plugin:prettier/recommended",
    "plugin:jest/recommended"
  ],
  "plugins": ["testing-library"],
  "rules": {
    "react/no-danger": "off",
    "react/react-in-jsx-scope": "off",
    "react/require-default-props": "off",
    "no-console": "warn",
    "prettier/prettier": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "alias": {
        "map": [
          ["@components", "./components/"],
          ["@containers", "containers"],
          ["@styles", "./styles/"],
          ["@utils", "./utils"],
          ["@root", "./"]
        ],
        "extensions": [".ts", ".js", ".tsx"]
      }
    }
  },
  "overrides": [
    {
      // 3) Now we enable eslint-plugin-testing-library rules or preset only for matching files!
      "files": [
        "**/__tests__/**/*.[jt]s?(x)",
        "**/?(*.)+(spec|test).[jt]s?(x)"
      ],
      "extends": ["plugin:testing-library/react"]
    }
  ],
  "env": {
    "node": true,
    "browser": true,
    "amd": true,
    "jest": "true"
  }
}
